# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
# build # Excluded in an attempt to get GH pages to load the build folder

# misc
.DS_Store
npm-debug.log
