.basket {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	text-align: left;
	background-color: #eee;
	padding: 10px;
}

.basket__header {
	flex: 1 100%;
	margin: 0;
}

.basket__total {
	flex: 1 100%;
	text-align: center;
	margin: 20px 0 10px 0;
	padding: 10px;
	background-color: #e6e6e6;
}

.basket__proceed {
	flex: 1 100%;
	text-align: center;
	margin: 10px 0 20px 0;
	padding: 10px;
	background-color: #e6e6e6;
}

.basket__proceed button {
	width: 50%;
	/*height: 3em;*/
	font-size: 1em;
}

.basket-leg {
	width: 48%;
	background-color: #e6e6e6;
}

.basket-leg__header {
	margin: 0;
}

.basket-prices {
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 0;
	padding: 0;
}

.basket-prices__sub-total {
	display: inline;
	text-align: right;
	border-bottom: 0;
}

.basket-price {
	display: flex;
	justify-content: space-between;
	border-bottom: solid 1px lightgrey;
}

.basket-price__sub-total {
	padding-left: 10px;
}
