.trains {
	list-style: none;
	padding: 0;
}

.train {
	display: flex;
	margin: 2px;
	min-height: 100px;
	background-color: #fff;
}

.train--selected {
	/*background-color: #eee;*/
}

.train__details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 25%;
	list-style: none;
	padding: 0;
}

.train__details span {
	display: inline-block;
}

.train__prices {
	display: flex;
	justify-content: space-around;
	width: 75%;
	list-style: none;
	padding: 0;
}

.train-price {
	margin: 2px;
	width: 33%;
}

.train-price--selected {
	background-color: yellow;
}

.train-price__hitarea {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	border-right: 1px solid #e6e6e7;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.train-price__type {
	width: 100%;
	background-color: #bee7b3;
	text-transform: capitalize;
	padding: 4px 2px 4px 2px;
}

.train-price__input {

}

.train-price__display-price {
	width: 100%;
	background-color: #bee7b3;
	padding: 4px 2px 4px 2px;
	font-weight: bold;
}
